<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博客后台管理</title>
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/bootstrap/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <style type="text/css">

        body{

            padding-top: 70px;/*有顶部固定导航条时设置*/

            padding-bottom: 70px;/*有底部固定导航条时设置*/

        }
    </style>
</head>

<body>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">博客后台管理</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="#">文章列表</a></li>
                <li><a href="#">Mysql数据库</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        开发语言分类 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">JAVA</a></li>
                        <li class="divider"></li>
                        <li><a href="#">PHP</a></li>
                        <li class="divider"></li>
                        <li><a href="#">NodeJs</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Android</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Python</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

    <div class="container-fluid">

        <%- body -%>

    </div>

<footer class="navbar-fixed-bottom">

    <hr>
    <div class="container">
        <span class="pull-left">Copyright © 2016</span>
    </div>
</footer>

</body>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap/bootstrap.min.js"></script>
</html>