<% include header.html %>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="col-sm-9" style="background-color:#888888;height: 750px">

            <div class="col-sm-4 text-left">

                <ul>
                    <li style="margin: 30px"><img src="/images/background/tx.jpg" class="img-circle" style="width:100px"></li>
                    <li style="margin: 30px"><font size="5" color="white">姓名:苏坤明</font></li>
                    <li style="margin: 30px"><font size="5" color="white">职业：web前端开发工程师</font></li>
                    <li style="margin: 30px"><font size="5" color="white">擅长:NodeJs、HTML5、Javascript、Python、Jquery..</font></li>
                    <li style="margin: 30px"><font size="5" color="white">爱好:篮球、开发技术拓展、阅读</font></li>
                </ul>


            </div>
            <div class="col-sm-8 text-left">

                <ul>

                    <li style="margin-top: 100px"><font size="5" color="white">开源作品</font></li>
                    <li style="margin: 30px"><font size="3" color="white">1.nodejs做的博客系统:http://git.oschina.net/xuxu.gao/nodejs_blog</font></li>
                </ul>

            </div>

        </div>
        <div class="col-sm-3">

            <% include right.html %>

        </div>
    </div>
</div>
<% include footer.html %>