<% include header.html %>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-sm-9">

            <% if(articleList.length > 0){%>

                <% for (var i=0;i< articleList.length;i++) { %>

                    <div class="span4 panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-3">
                                <img src="<%=articleList[i].leftLogo %>" style="width: 200px;height: 150px;">
                            </div>
                            <div class="col-sm-9">
                                <h2>《<%=articleList[i].title%>》</h2>
                                <br>
                                <p>&nbsp;&nbsp;<%=articleList[i].brief%></p>
                                <br>
                                <p>&nbsp;&nbsp;<a class="btn btn-primary btn-large" href="/<%=articleList[i].id%>.html">查看详情 &raquo;</a></p>
                                <p class="pull-right col-md-9">
                                    <span class="col-md-4">发表:<%=articleList[i].pubtime%></span>
                                    <span class="col-md-3">浏览数(<%=articleList[i].hits%>)</span>
                                    <span class="col-md-2">点赞(<%=articleList[i].good%>)</span>
                                </p>
                            </div>
                        </div>
                    </div><!--/span-->

                <% } %>
            <div class=" panel panel-default ">
                <div class="panel-body ">
                    <div class="pages">
                        <div id="Pagination"></div>
                    </div>
                </div>
            </div>
            <% }else{ %>

            <div class=" panel panel-default ">
                <div class=" container panel-body text-center">
                    <img src="/images/background/sorry.gif"><br>
                   对不起，没有相关文章 <br><br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/list">< 返回文章列表</a>
                </div>
            </div>
            <% } %>


        </div>
        <div class="col-sm-3">

            <% include right.html %>

        </div>
    </div>
</div>
<% include footer.html %>
<script type="text/javascript">

    $(document).ready(function() {

        var totalPage = '<%=totalPage%>';
        var page = '<%=currentPage%>';
        $("#Pagination").pagination(totalPage, {current_page: (page - 1), link_to: '/list'});

    });

</script>